.sectionFour {
  width: 1278px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 54px;
  margin-left: 85px;
  flex-direction: column;
}

.sectionFour_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sectionFour_text {
  position: absolute;
  top: 36%;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.title {
  font-weight: 700;
}

.subtitle {
  font-weight: 300;
  margin-top: -11px;
}

.img4 {
  border-radius: 160px;
  background: #211E2E;
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}

.ball {
  position: absolute;
  bottom: -45px;
  border: 10px solid rgba(14, 14, 14, 0.32);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ball1 {
  position: absolute;
}

.ball2 {
  position: relative;
  z-index: 4
}

.sectionFour_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  margin-top: 40px;
}

@media (max-width: 390px) {

  .sectionFour {
    width: 100%;
    margin-left: 10px;
  }

  .sectionFour_content {
    margin-top: -40px;
  }

  .sectionFour_content img {
    width: 330px;
    height: 158px;
  }

  .ball {
    display: none;
  }

  .img4 {
    border-radius: 60px;
  }

  .sectionFour_text {
    margin-top: -20px;
  }

  .title {
    font-size: 16px;
    line-height: 2.2;
  }

  .subtitle {
    font-size: 24px;
  }

  .sectionFour_bottom {
    flex-direction:  column;
    flex-wrap: wrap;
    gap:0;
  }

  .sectionFour_bottom img {
    width: 140px;
  }

}