:root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #302C42;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

/* rolagem scroll suave*/
html {
  scroll-behavior: smooth;
}
/* remove a barra de rolagem */
body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 390px){
  body {
    margin-left: -30px;
  }
}

.icons_center h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.icons_center p {
  font-size: 14px;
}

.global {
  max-width: 1440px;
  margin: 0 auto;
}

.button {
  font-weight: 700;
  height: 48px;
  text-transform: uppercase;
  border-radius: 40px;
  border: none;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  transition: .5s;
}

.button_big{
  width: 214px;
}

.button_small{
  width: 155px;
}

.button:hover{
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  transition: .5s;
}

.voltar_button {
  position: fixed;
  bottom: 10px;
}
