.sectionTwo {
    margin: 94px 84px;
    display: inline-block
    ;
}

.h2_img {
    display: flex;
    align-items: center;
}

.h2_img h2 {
    font-weight: 200;
}

.sectionTwo_container {
    display: flex;
    align-items: center;
}

.sectionTwo_container p {
    width: 652px;
    height: 98px;
}