.sectionFive_container {
  margin: 94px 94px;
  display: flex;
  flex-direction: column;
  max-width: 1273px;
}

.h2_img {
  display: flex;
  align-items: center;
}

.h2_img img {
  margin-left: 30px;
}

.h2_img img,
.h2_img h2 {
  margin-top: -40px;
}

.h2_img h2 {
  font-weight: 200;
}

.sectionFive_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.sectionFive_top p {
  width: 652px;
  height: 98px;
  text-align: justify;
}

.sectionFive_text h2:nth-child(2) {
  font-weight: 300;
}

.sectionFive_text {
  margin-top: 47px;
  margin-bottom: 47px;
}

.sectionFive_text p {
  width: 630px;
  height: 228px;
  text-align: justify;
}

.sectionFive_bottom {
  background-color: red;
  height: 287px;
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.lineH {
  position: absolute;
}

.lineH img{

  max-width: 1250px;
}

.balls_Section_Five {
  max-width: 1273px;
  height: 187px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}

.ball_Sec_Five {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 158px;
  height: 158px;
  background-image: linear-gradient(251deg, #C0B7E8 12.87%, #8176AF 89.33%);
  border-radius: 50%;
  box-shadow: -1px 1px 5px 22px rgba(0,0,0,0.35);
  z-index: 1;
  
}

.ball_Sec_Five h2 {
  color: #343045;
  font-size: 64px;
}

@media (max-width: 390px) {
  .sectionFive_top {
    width: 300px;
    margin-top: -140px;
    margin-left: 20px;
  }

  .h22 {
    margin-left: -8px;
  }

  .sectionFive_top > p {
    display: none;
  }

  .sectionFive_top h2 {
    font-size: 26px;
    margin-bottom: 50px;
  }

  .line_balls {
    margin-top: -120px;
    margin-left: 465px;
  }

  .line_balls h2 {
    width: 158px;
    text-align: center;
  }

  .lineH  {
    display: none;
  }

  .ball_Sec_Five {
    margin-left: 110px;
  }


}